jobs:
 name: deploy-repo-a
 runs-on: ubuntu-latest
 strategy:
     matrix: 
       directory: [mycode]
 defaults:
    run:
     shell: bash
 steps:
 - name: Checkout code
   uses: actions/checkout@v2
 
 - name: deploy-repo-b
   needs: deploy-repo-a
   runs-on: ubuntu-latest
   strategy:
     matrix: 
       directory: [mycode]
   steps:
   - name: Checkout code
     uses: actions/checkout@v2
     with:
       fetch-depth: 2
