name: Deploy Repos A and B

on:
  push:
    branches:
      - '!main'
      - 'feature_version1'

jobs:
  deploy-repo-a:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Repo A
      uses: actions/checkout
      with:
        repository: https://github.com/kalpanauppara/regional_repo.git
        ref: main
    
    - name: Build and Deploy Repo A
      run: |
        # Add build and deployment commands for Repo A
        # For example: npm install && npm run build && deploy-script.sh
        echo "Listing files from the Source code:"




  deploy-repo-b:
    needs: deploy-repo-a
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Repo B
      uses: actions/checkout
      with:
        repository: https://github.com/kalpanauppara/global_repo.git
        ref: main
    
    - name: Build and Deploy Repo B
      run: |
        # Add build and deployment commands for Repo B
        # For example: npm install && npm run build && deploy-script.sh
          echo "Listing files from the Source code:"

